.Main {
    display: flex;
}

@media (max-width: 900px) {
    .Main {
        display: block;
    }
}

.Screen {
    text-align: center;
    height: 350px;
    min-width: 40%;
    border: solid skyblue;
    border-radius: 15px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Display {
    border: solid skyblue;
    border-radius: 15px;
    height: 50%;
    width: 95%;
    background-color: skyblue;
    display: inline-flex;
    justify-content: center;
}

.message {
    align-self: center;
}

.settingsDisplay {
    border: solid skyblue;
    border-radius: 15px;
    height: 50%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputSet {

}

.inputText {
    display: inline-block;
    color: skyblue;
    font-size: 1.5rem;
    width: 50%;
    margin: 0;;
}

.input {
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    width: 40%;
    color: #383838;
}

.buttonsSet {
    border: solid skyblue;
    border-radius: 15px;
    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    border: solid skyblue;
    border-radius: 15px;
    color: #383838;
    width: 40%;
    background-color: skyblue;
    user-select: none;
    font-size: 45px;
    cursor: pointer;
}

.button:active {
    position: relative;
    top: 1px;
}

.button:hover {
    background: skyblue linear-gradient(to bottom, #61a6e7 0%, skyblue 100%);
}

.button:disabled {
    cursor: auto;
    background: skyblue;
    opacity: 50%;
}



